* {
    background: rgb(192, 188, 188);
    margin: 0;
}

/* --------------------next button-------------------- */

#nxtbtn {
    width: 100%;
    background: red;
}

#slideshow-container {
    max-width: 100%;
    background: #245C7C;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slideshow-image {
    display: none;
    max-width: 100%;
}

#nextBtn {
    cursor: pointer;
    background-color: #0c0c0c;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
    margin-left: 10px;
}

/* ---------------------dropdown------------------------ */
#dropdwn {
    background: #245C7C;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#dropdwn h3 {
    background: transparent;
}




/* --------------------form validation------------------------- */

#formval {
    background: #245C7C;
    margin-top: 40px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #CEAF8A;
    /* text-align: right; */
}

form h2 {
    background: transparent;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    background: transparent;
}

input[type="text"],
input[type="email"] {
    width: 50%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
   
}

textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    text-align: right;

}


.alert {
    color: #ff0000;
    margin-bottom: 10px;
}



/* ---------------------list boxes------------- */

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .list {
    width: 150px;
  }